
.btn{
    display: inline-block;
    border: none;
    outline: none;
    font-size: 1rem;
    line-height: 1.75em;
    padding: 0.875rem 2.8125rem;
    background-color: lightgray;
    border-radius: 1.75rem;
    cursor: pointer;
    vertical-align: text-bottom;
    font-weight: 700;
    color: $white;
    transition: background-color .2s linear , color .2s linear;
    text-align: center;

}