/* define headings */
.heading-l{
    font-size: 3.5rem;
    line-height: 1.4em;
    font-weight: 700;
    @include mq( $tablet-breakpoint ){
        font-size: 2.75rem;
    }
    @include mq( $mobile-breakpoint ){
        font-size: 2.25rem;
    }
}

.heading-m{
    font-size: 2.5rem;
    line-height: 1.275em;
    font-weight: 700;
    @include mq( $tablet-breakpoint ){
        font-size: 2rem;
        line-height: 1.25em;
    }
    @include mq( $mobile-breakpoint ){
        font-size: 1.625rem;
        line-height: 1.269em;
    }

}

.heading-s{
    font-size: 2rem;
    line-height: 1.25em;
    font-weight: 700;
    @include mq( $mobile-breakpoint ){
        font-size: 1.5rem;
        line-height: 1.25em;
    }

}

/* define paragraphs */
.text{
    font-size: 1.125rem;
    line-height: 1.55555555em;
    @include mq( $mobile-breakpoint  ){
        font-size: 1rem;
        line-height: 1.625em;
    }
}